* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: #f8f5f2;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  width: 100%;
}

h2 {
  color: #f45d48;
  margin-left: 40%;
  margin-top: -10%;
}
