form {
    align-items: center;
    background-color: #0a8080;
    display: flex;
    height: 50px;
    width: 100%;
}

input {
    font-size: 25px;
    margin-left: 13%;
    width: 60%;
}

.search-btn {
    background-color: #f45d48;
    border-radius: 5px;
    margin-right: 50%;
    padding: 4px;
    width: 8%;
}