article {
    align-items: center;
    background-color: white;
    border: solid #0a8080;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    margin: 5%;
    padding: 1%;
    width: 500px;
}

img {
    height: 200px;
    width: 300px;
}

a {
    color: #f45d48;
    font-weight: bold;
}