article {
    align-items: center;
    background-color: white;
    border: solid black;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    margin: 10px;
    width: 400px;
}

img {
    height: 200px;
    width: 300px;
}